* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: "farsiVazir";
  src: url(../fonts/Vazir.ttf);
}
@font-face {
  font-family: "farsiDigits";
  src: url(../fonts/vazir-font-v29.1.0/Farsi-Digits-Without-Latin/Vazir-Regular-FD-WOL.ttf);
}
@font-face {
  font-family: "Iranmehr";
  src: url(../fonts/fr13631649_noora_font_gfiles.ir.ttf);
}
@font-face {
  font-family: "farsiSans";
  src: url(../fonts/IranianSans.ttf);
}
@font-face {
  font-family: "farsiBold";
  src: url(../fonts/vazir-font-v29.1.0/Vazir-Bold.ttf);
}
.emptySpace {
  background-color: #fff;
  width: 100%;
  top: 0;
  height: 100px;
}

body {
  font-family: farsiVazir, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.navhovering:hover {
  border-bottom: 5px solid #007ddb;
  padding-bottom: 8px;
}

.sub-menu-image {
  max-width: 40px;
}

.to-panel,
.exit {
  background-color: #070592;
  color: #efefef;
}

.to-panel:hover {
  background-color: #2e91dd;
}

.title-gradient0 {
  margin-top: 0px;
  font-size: 3.5rem;
  background: linear-gradient(to right, #2f73aa, #16246e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-gradient {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 3.5rem;
  background: linear-gradient(to right, #06c54f, #014207, #4a366d, #033d6d, #055f6b, #43a047, #190ccc, #022185, #020720);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}

.dropdown-item:hover {
  background-color: rgba(53, 175, 23, 0.719);
  border-radius: 50px;
  color: #fff;
}

.dd-search {
  background-color: #16246e;
  color: #fff;
}

.show-left {
  position: absolute;
  inset: -4px 274px auto auto;
  margin: 0px;
  transform: translate(103px, 0px);
}

.btn-search {
  width: 2px;
  height: 20px;
}

.txt-color {
  color: #16246e;
}

.swiper {
  width: 600px;
  height: 300px;
}

.full-page {
  background-size: cover;
  background-color: rgba(226, 236, 245, 0.8901960784);
}

.exit:hover {
  background-color: rgba(117, 156, 148, 0.719);
}

.img-style {
  width: 127px;
  height: 90px;
}

.cards:hover {
  color: #aa0b00;
  opacity: 80%;
  background-color: rgba(230, 221, 221, 0.8);
  border: 1px;
  border-radius: 30px;
}

.card {
  border: #fff;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
